<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.CsatMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.test.entity.Csat">
        <result column="create_hour" property="createHour" jdbcType="int"/>
        <result column="create_Day" property="createDay" jdbcType="date"/>
        <result column="rate_phone" property="ratePhone" jdbcType="int"/>
        <result column="rate_request" property="rateRequest" jdbcType="int"/>
        <result column="rate_incident" property="rateIncident" jdbcType="int"/>
    </resultMap>

        <select id="selectByCsatList" parameterType="com.test.entity.Csat"
                resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM Csat
        <where>
    <if test="createHour != null">AND create_hour  = #{createHour}</if>
    <if test="createDay != null">AND create_Day  = #{createDay}</if>
    <if test="ratePhone != null">AND rate_phone  = #{ratePhone}</if>
    <if test="rateRequest != null">AND rate_request  = #{rateRequest}</if>
    <if test="rateIncident != null">AND rate_incident  = #{rateIncident}</if>
        </where>
        LIMIT 2
    </select>
        <if test="createHour != null">AND create_hour = #{createHour}
        </if>
        <if test="createDay != null">AND create_Day = #{createDay}
        </if>
        <if test="ratePhone != null">AND rate_phone = #{ratePhone}
        </if>
        <if test="rateRequest != null">AND rate_request = #{rateRequest}
        </if>
        <if test="rateIncident != null">AND rate_incident = #{rateIncident}
        </if>
   <if test="paramMap.idList != null and paramMap.idList.size() > 0">
        and a.id in
        <foreach item="id" index="index" collection="paramMap.idList" open="(" separator="," close=")">
            #{id}
        </foreach>
   </if>
    <![CDATA[
        AND a.create_date < DATE_ADD(#{paramMap.endDate}, interval 1 day)
    ]]>

</mapper>